.board-box {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.board-overlay {
  align-items: center;
  background-color: rgba(186, 224, 252, 0.5);
  display: flex;
  height: 600px;
  justify-content: center;
  position: absolute;
  width: 600px;
}

.board-overlay button {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: Helvetica Neue;
  font-size: 1.5rem;
}

.board-pause-button {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: Helvetica Neue;
  font-size: 1.2rem;
  position: absolute;
  right: -90px;
}
