.cell {
  align-items: center;
  background-color: rgba(162, 231, 107, 0.8);
  display: flex;
  justify-content: center;
}

.cell-snake {
  background-color: rgba(53, 159, 227, 0.8);
}

.food {
  background-color: #e8544f;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
